

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Shared style */
.text-primary{
    color: #fd6e0a;
}

.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: wheat;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 15px;
    border-color: 3px solid black;
}

.btn-primary a{
    text-decoration: none;
    color: #181818;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description{
    font-size: 18px;
    color: #757575;
}

.secondary-bg{
    background-color: #FFF8F3;
}

/*header*/

   .header{
    background-image: url('../images/developer.png') , url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left,bottom right;
   }

/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;

}

nav ul{
    display: flex;
    align-items: center;
    
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}

nav ul li a{
   text-decoration: none;
   font-size: 20px;
   color: dar;
}

 /*banner style*/

 .banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0  230px;
 }

 .banner-content{
    max-width: 580px;
 }
 .banner-greerings{
    font-size: 45px;
    font-weight: 600px;
 }

 .banner-title{
    font-weight: bold;
    font-size: 85px;
 }

 .banner-description{
    font-size: 18px;
    color: #474747;
 }

 .banner-profile-pic{
    width: 580px;
 }

/* main */

main{
    max-width: 1140px;
    margin: 0 auto;
     
}

main section{
   margin-top: 130px;
   margin-bottom: 130px;
}
 /* about style*/
 .about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;

 }

 .item-description{
    font-weight: 600px;
 }

 .about-items{
    display: flex;
    justify-content: space-around;
 }

 .skills-cotainer{
    display: flex;
    justify-content: space-between;
 }

 .skill{
    height: 377px;
    width: 255px;
    border: 2px solid #FFF8F3;
    margin: 20px;
    background-color: wheat;
    border-radius: 5px;
    box-shadow: 10px 10px 10px black;
    padding: 30px;
 }

 .skill-title{
    padding: 5px ;
 }

 /*.skill-description{
    
 }*/

 /* resume section style */
 .resume-container{
   display: flex;
   gap: 24px;

 }

 .resume-column-title{
   font-size: 30px;
   color: #181818;
 }

 .experience-title{
   font-size: 25px;
   color: #474747;

 }

 .experience-sub-title{
   font-size: 20px;
   color: #757575;
   font-weight: 600;
   margin-bottom: 20px;
 }

 .experience-description{
   font-size: 16px;
   color: #A3A3A3;
 }

 .hr-sub{
   color: #FFF8F3;
   text-decoration: #FFF8F3;
   margin: 30px 5px;
 }

.text-center{
   display: flex;
   justify-content: center;
   
}

.resume-download-cv{
   margin: 50px;
}

footer{
   padding: 130px;
   display: flex;
   gap: 100px;
}
.footer-column{
   width: 50%;
}
footer input[type="text"] , footer input[type="email"] , footer textarea{
   height: 64px;
   border-radius: 5px;
   background-color: wheat;
   display: block;
   width: 100%;
   padding: 10px 20px;
   margin-bottom: 24px;
   border: none;
   font-size: 24px;
}